.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding: 10px;
}

.quoteBox {
  background-color: white;
  padding: 15px;
  border-radius:  10px;
  max-width: 600px;
  position: relative;
  box-shadow: 1px 1px 18px rgb(132, 132, 132);
  background: rgba(11, 16, 12, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(11, 16, 12, 0.5);
}

.quoteBox__author{
  text-align: right;
  margin: 15px 0;
}

.quoteBox__icon {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 40px;
}

.quoteBox__button {
  font-size: 40px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 auto;
  cursor: pointer;
  transition: transform 200ms ease;
}
.quoteBox__button:hover{
  transform: scale(1.03);
}